
/** Header **/
.logo img {
    max-height: 26px;
}
.spacer {
    margin-bottom: 60px;
}
.navbar {
    text-transform: uppercase;
    border-top: yellow 5px solid;
    font-size: 15px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav>li>a.active {
    background-color: #e7e7e7;
}
.navbar-right>li>a:hover {
    background-color: #e7e7e7 !important;   
}

/** General CSS **/
.pt {
    padding-top: 15px; 
}
.pb {
    padding-bottom: 15px; 
}
.bpt {
    padding-top: 45px;
}
.bpb {
    padding-bottom: 45px; 
}
.mt {
    margin-top: 15px; 
}
.mb {
    margin-bottom: 15px; 
}
.bmt {
    margin-top: 45px; 
}
.bmb {
    margin-bottom: 45px;
}
.center {
    text-align: center;
}
.right {
    position: absolute;
    right: 25px;
    text-align: right;
}
.register {
    float: right;
    position: relative;
    top: -3px;
}
h1 {
    font-weight: 400;
}
h3 {
    font-weight: 300;
}
/** CTA **/
.cta {
    padding: 20px;
    border-left: yellow solid 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
}
.cta h3 {
    padding-top: 0px;
    margin: 0px;
}

/** Cards **/
.card {
    border: #efefef solid 1px;
    border-radius: 6px; 
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 325px;
}
.card-title {
    background-color: yellow;
    padding-right: 10px; 
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.card-text {
    padding-right: 10px; 
    padding-left: 10px;
    padding-bottom: 5px;
}
.edition-title {
    position: absolute;
    top: 20px;
    left: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: yellow;
}

/** Footer **/ 
.footer {
    background-color: black; 
    color: grey;
}